
.tarjeta{
    border: 10px;
    background-color: rgb(258,658,12);
    text-align: center;
    margin: 10px 10px;
    padding: 50px;
}

.tarjeta2{
    border: 10px;
    background-color: rgb(158,58,12);
    text-align: center;
    margin: 10px 10px;
    padding: 50px;
}

.tarjeta3{
    border: 10px;
    background-color: rgb(173, 227, 25);
    text-align: center;
    margin: 10px 10px;
    padding: 50px;
}

h1{
    text-align: center;
    color: brown;
}